.menu-link{
    background-color: #be2b2b;
    cursor: pointer;
    border-left:1px solid #181815;
    border-right:1px solid #181815;
    height:auto;
    color: #FFF;
}

.PostList,.PostList2{
    
    min-height: 350px;
    height:50hv;
    border-radius:10px;
    padding-left: 20px;
    
    color: #FFF;
    text-shadow: none;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    background: #be2b2b;
}
.PostList2{
    background-color: #be2b2b;
    color: rgb(231, 243, 242);
    text-shadow: none;
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    
}
.Options{

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgb(219, 226, 223);
    color:rgb(15, 15, 15);
    border-radius: 5px;
    margin-left:5px;
}
select{
    background-color: rgb(250, 250, 250);
    width:90%;
    border-radius: 5px;
    color:rgb(15, 15, 15);
}
.departmentInfo{
    margin-top: 5px;
    color:#fafafa;
    
}
label{
    text-align: left;

}
input{
    color:black;
}
