/* You can add global styles to this file, and also import other style files */
.header,.footer{
    height:50px;
    width:100%;
    background-color:rgba(8, 13, 73, 0.863);
}
.footer{
    margin-top: 200px;
}